
.countrylist {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}


.countryitem {
  width: 300px;
  border: 1px solid brown;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

.countryflag {
  width: 50px;
  height: auto;
}

.countryflagDetails {
  width: 30px;
  height: 30px;
}
.countrysearch{
 width: 100%;
 padding: 10px;
 margin-bottom: 20px;
 border: 1px solid brown;
 border-radius: 5px;
}

.viewmorebtn {
  margin-top: 10px;
  padding: 5px, 10px;
  background-color: antiquewhite;
  color: black;
  border-radius: 4px;
  border: none;
}

.countrydetails {
  margin-top: 10px;
  text-align: center;
}